header {
    padding:  20px 10px;
    .navigation {
        a {
            padding: 2px 6px;
            margin-right: 2px;
            cursor: pointer;
        }
    }
}

.layout-container {
    padding: 1em;
}